/* footer */
.widget-title {
  color: beige;
}
/* .container {
  padding: 50px 60px;
} */
.f1-container {
  background-color: rgb(37, 37, 37);
}
.f2-container {
  background-color: rgb(34, 34, 34);
}
.f1-para {
  color: rgb(228, 217, 217);
}
.f2-para {
  color: white;
  margin: 10px 5px;
}
.f-para {
  color: white;
}
.widget-title span::after {
  background: inherit;
  content: "";
  height: inherit;
  position: absolute;
  top: -4px;
  width: 50%;
  color: aqua;
}
:after,
:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.footer-img {
  display: inline-block;
  max-width: 60px;
}
.thumbnail-widget {
  padding: 0px;
  margin-top: 30px;
}
.text-widget {
  margin-top: 40px;
}
/* .thumb-img {
} */
.thumb-content {
  padding-left: 15px;
}
.span-color {
  color: rgb(255, 255, 220);
}
.size-img {
  max-width: 80%;
  height: auto;
}
