@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

:root{
  --web-color : #31819D ;
}
*{
  margin: 0;
  padding: 0;
  font-family: "Roboto Condensed", sans-serif;
}

.fix-img{
  width: 320px;
  height: 200px;
  object-fit: cover;
}

@media (max-width: 767px) {
  .sm-hidden {
    display: none;
  }
  .img-about{
    display: none;
  }
  .labFont{
    font-size: 1rem;
  }
  .labFont-1{
    font-size: 0.80rem;
  }
}
.nav-h {
  height: 105px;
  background-color: rgb(253, 253, 253);
}

.logo-font {
  font-size: 10px;
}

.link-color {
  color: #000;
}

.link-hover:hover {
  color: var(--web-color)
}

.dot {
  list-style: none;
}

.prev{
  background-color: rgb(54, 54, 54);
  transition:  ease-in-out .2s;
  
}
.prev:hover{
  background-color: black;
}
.next{
  background-color: rgb(54, 54, 54);
  transition: ease-in-out .2s;

}
.next:hover{
  background-color: black;
}

.card{
  width: 400px;
}
.underline {
  border-bottom: 1px solid #000000;
  /* Change color and thickness as needed */
}
.banner-underline {
  border-bottom: 1px solid #ffffff;
  /* Change color and thickness as needed */
}

.cap-btn{
  border: none;
  background: #4CAF50;
  padding: 5px;
  position: absolute;
  top: 25px;
  left: 20px;
  z-index: 1;
}

.button{
  width: 130px;
  height: 45px;
  color: white;
  background-color: var(--web-color);
  border: none;
  border-radius: 2px;
  padding: 10px 25px;
}

.button:hover{
  background-color: #606060;
}

.about-banner{
  background-image: url('./Data/images/about_banner.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}



.contain{
  background-size: cover;
}

.custom-hover {
  transition: all 0.3s ease-in-out;
  /* Add smooth transition */
}

.custom-hover:hover {
  transform: scale(1.05);
  /* Increase size on hover */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  /* Increase shadow on hover */
}
.text-hover:hover{
  color: var(--web-color);
}

.about{
  height: 100%;
  width: 100%;
}

.list-none{
  list-style: none;
  text-decoration: none;
}
.cursor-pointer{
  cursor: pointer;
}

.about-text{
  color: #606060;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  line-height: 1.9;
}

.team-h{
    font-size: 21px;
    font-weight: 700;
    color: #606060;
    font-family: 'Roboto', sans-serif;
    line-height: 1.9;
}

/* footer  */

.widget-title {
  color: beige;
}

/* .container {
  padding: 50px 60px;
} */
.f1-container {
  background-color: rgb(37, 37, 37);
}

.f2-container {
  background-color: rgb(34, 34, 34);
  height: 20%;
  width: 100%;
}

.f1-para {
  color: rgb(228, 217, 217);
  width: 90%;
  height: 40%;
  margin: 40px 5px;
}

.f2-para {
  color: white;
  margin: 10px 5px;
}

.f-para {
  color: white;
}

.widget-title span::after {
  background: inherit;
  content: "";
  height: inherit;
  position: absolute;
  top: -4px;
  width: 50%;
  color: aqua;
}

:after,
:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.column1 {
  margin: 5px 20px;
  width: 40%;
}

.footer-img {
  display: inline-block;
  max-width: 60px;
}

.thumbnail-widget {
  padding: 0px;
  margin-top: 30px;
}

.text-widget {
  margin-top: 40px;
}

/* .thumb-img {
} */
.thumb-content {
  padding-left: 15px;
}

.span-color {
  color: rgb(255, 255, 220);
}

.size-img {
  max-width: 80%;
  height: auto;
}


.carousel-caption {
  position: absolute;
  top: 50%;
  left: 10%;
  /* Adjust the left position as needed */
  transform: translate(-50%, -50%);
  text-align: left;
  /* Align text to the left */
  animation: slideInFromLeft 1s ease forwards;
  opacity: 0;
}

.carousel-caption {
  position: absolute;
  top: 60%;
  left: 35%;
  /* Adjust the left position as needed */
  transform: translate(-50%, -50%);
  text-align: left;
  /* Align text to the left */
  animation: slideInFromLeft 1s ease forwards;
  opacity: 0;
}

@keyframes slideInFromLeft {
  0% {
    opacity: 0;
    transform: translate(-100%, -50%);
  }

  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

.text-1{
  font-size: 24px;
  line-height: 34px;
  font-weight: 300;
  color: rgb(0, 0, 0);
}
.text-3{
  font-size: 62px;
  line-height: 72px;
  font-weight: 300;
  color: rgb(233, 30, 99);
}

.text-2{
  font-size: 62px;
    line-height: 72px;
    font-weight: 300;
    color: rgb(255, 102, 52);
}
.text-4{font-size: 24px;
  line-height: 34px;
  font-weight: 300;
  color: rgb(0, 0, 0);
}


.lab-item{
  /* padding: 15px; */
  /* margin-bottom: 20px; */
  height: 240px;
  width:  320px;
  border: 5px solid rgb(59, 59, 59);
  border-radius: 4px;
}
.uppercase{
  text-transform: uppercase;
}

.logo-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bg-blue{
  /* background: #2196F3; */
  background: #ffffff;
}
.nav-h {
  height: 100px;
  background-color: rgb(253, 253, 253);
}

.nav-logo {
  width: 210px;
  height: 100px;
}
.nav-item{
  size: 10px;
}

.navbar{
  display: flex;
  justify-content: space-between;
}
.logo_and_name{
  display: flex;
  gap: 10px;
  padding: 10px;
  margin: 10px;
}
.text-blue{
  color: #388FDD;
}
.logo-font {
  font-size: 12px;
}
.contact-btn{
  padding-right: 100px;
  margin-bottom: 30px;
}

.custom-bg {
  padding-left: 15px;
  /* background: #868181; */
}

.logo-color {
  color: var(--web-color);
}

.logo-c {
  color: #000000;
}

.link-color {
  color: rgb(0, 0, 0);
}

.link-hover:hover {
  color: var(--web-color);
}

.dot {
  list-style: none;
  text-decoration: none;
}

.link-color-hover:hover {
  color: white;
  background-color: var(--web-color);
}

.card{
  width: 340px;
}


.scroll {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  background-color: #1e1c1c;
  position: fixed;
  right: 10px;
  bottom: 10px;
}

.scroll-hover:hover {
  background-color: #2196f3;
}

.icon-color {
  color: aliceblue;
  height: 40px;
  width: 40px;
  position: fixed;
  right: 15px;
  bottom: 15px;
}
.machine-log {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.machine-size{
  margin-top: 10px;
  text-align: center;
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
  font-weight:  600;
}

/* catalogue download */

.catalogue-download{
  margin:  1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.catalogue-download-button {
  font-size: 25px;
  background: #f1f1f1;
  padding: 10px;
  border: none;
  border-bottom: 5px solid #8a8887;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* css for product slider */

.auto-slider {
  overflow: hidden;
  width: 100%;
  max-width: 1200px; /* Adjust as needed */
  margin: 35px auto;
}

.slider-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.product-slide {
  flex: 1 0 25%; /* 25% width to show 4 slides at once */
  max-width: 25%;
  box-sizing: border-box;
  padding: 10px; /* Adjust as needed */
}

.slide img {
  width: 100%;
  border-radius: 8px; /* Optional: for rounded corners */
  object-fit: cover; /* Keeps image aspect ratio */
}


/*  gallery */

.gallery-border{
  border:  3px double black;
}