@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: "Roboto Condensed", sans-serif;
}
.prev{
  background-color: rgb(54, 54, 54);
  transition:  ease-in-out .2s;
  
}
.prev:hover{
  background-color: black;
}
.next{
  background-color: rgb(54, 54, 54);
  transition: ease-in-out .2s;

}
.next:hover{
  background-color: black;
}

.card{
  width: 400px;
}
.underline {
  border-bottom: 1px solid #000;
  /* Change color and thickness as needed */
}

.cap-btn{
  border: none;
  background: #4CAF50;
  padding: 5px;
  position: absolute;
  top: 25px;
  left: 20px;
  z-index: 1;
}

.button{
  width: 130px;
  height: 45px;
  color: white;
  background-color: #2196f3;
  border: none;
  border-radius: 2px;
  padding: 10px 25px;
}

.button:hover{
  background-color: #606060;
}

.about-banner{
  background-image: url('./Data/images/about_banner.jpg');
  background-size: contain;
}

.contain{
  background-size: contain;
}

.custom-hover {
  transition: all 0.3s ease-in-out;
  /* Add smooth transition */
}

.custom-hover:hover {
  transform: scale(1.05);
  /* Increase size on hover */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  /* Increase shadow on hover */
}
.text-hover:hover{
  color: #2196f3;
}

.about{
  height: 100px;
  background: #797878;
}

.list-none{
  list-style: none;
  text-decoration: none;
}
.cursor-pointer{
  cursor: pointer;
}

.about-text{
  color: #606060;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  line-height: 1.9;
}