.prev{
  background-color: rgb(54, 54, 54);
  transition:  ease-in-out .2s;
  
}
.prev:hover{
  background-color: black;
}
.next{
  background-color: rgb(54, 54, 54);
  transition: ease-in-out .2s;

}
.next:hover{
  background-color: black;
}
/* .prev{
  display: hidde;
}
.carousel:hover .prev{
  display: flex;
} */